# dependencies
node_modules/
.pnp
.pnp.js

# env
.env
.env*.local
.env.local

# next.js
web/.next/
web/out/
web/build/

# worker build
worker/dist/

# logs
*.log
npm-debug.log*

# os / editor
.DS_Store
.vscode/
.idea/

# misc
*.tsbuildinfo
.turbo
coverage/
